.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 1fr));
}

@media only screen and (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

code {
  color: #605D53;
}

.stack > * + * {
  margin-top: 1.5rem;
}

.horizontal-flex {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}
