:root {
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
}

.grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fill, 1fr);
}

@media only screen and (min-width: 500px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

.cluster {
    --space: 1rem;
    overflow: hidden;
}

.cluster > * > * {
    margin: calc(var(--space) / 2);
}

.cluster > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--space) / 2 * -1);
}

code {
    color: #605D53;
}

.stack > * + * {
    margin-top: 1.5rem;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.w-200 {
    width: 200px;
}

.w-100 {
    width: 100px;
}

.center {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}
